body{
    background-color: f4f4f4;
    color: #555;
    font-family:arial, helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  letter-spacing: 0.03em;

   position: relative;
}

#main-header{
  background-color: #4EF2A4;
  color: #fff;
  text-align: center;
}
#main-header h1{
  font-size:40px;
  margin-bottom: 10px;
}
.logo{
  margin-bottom: -30px;
  margin-top: 12px;
}
#main-header img{
  height:70px;
}

#navbar{
  background-color: #4E8EF2;
  color:#fff;
}

#navbar ul{
  padding:0;
  list-style: none;
  text-align: center;
}

#navbar li{
  display: inline-block;

}

#navbar a{
  color: white;
  text-decoration: none;
  font-size:20px;
  padding-right: 70px;
}

#showcase{
  /*border: 1px #9DCCF6 solid;*/
  background-color:#4EF2A4;
  color:white;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding:10px;
}
#showcase-title{
   text-transform:uppercase;
   padding: 5px;
   border-radius: 15px;
}
.showcase-title{
  background-color: white;
  width: 13%;
  border-radius: 15px;
  text-align: center;
}
#showcase h3{
  color:#F64596
}
#body-title {
  color:#F64596
}
.desni{
  float:right;
  width:25%;
  font-size: 14px;
}
.levi{
  float:left;
  width:70%;
}
.sidebar{
  background-color: #4E8EF2;
  color:white;
  border: 5px #4EF2A4 solid;
  border-radius: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.desni h3{
  color:#F64596
}

.footer{
  background-color:#F64596;
  margin: 0px;
  margin-top: 20px;
  padding: 5px;
  color:white;
}



.footer-photo img{
    height:20px;
    padding: 10px 10px 10px 0px;
}



.side-by-side1{
  float:left;
}

.side-by-side2{
  float:left;
}

.telefon{
display: flex;
}

.blok-informacije{
  padding-left: 80px;
}

.copy p{
  text-align:center;
}

@media screen and (max-width:650px)
{
  #navbar a{
    padding-right: 10px;
  }


}
/*-----------------------Blog.html-------------------------*/

.levi-blok
{
float: left;
width:60%;
background-color: #4EF2A4;
border-radius: 15px;
margin-top: 50px;
padding-bottom: 20px;
}
.levi-blok textarea{
  height: 400px;
  width:99%;
  border-radius: 15px;
  border-color: #4EF2A4;
  border-width: medium;
}
.textarea
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#naslov-input{
border-radius: 15px;
border-color: #4EF2A4;
border-width:inherit;
}

#Postavi-dugme{
margin-top: 10px;
background-color: #4E8EF2;
color: white;
border-radius: 15px;
border-width: inherit;
padding: 7.5px 16px;
}



.densni-blok{
float: right;
width: 40%;
padding: 0px;
}

.widet-title{
  color: #F64596;
}

.widget
{
  list-style: none;
}
.widget ul{
  padding: 0px;
}
.widget li
{
  list-style: none;
  background-color: #4E8EF2;
  color:white;
  border-left: 5px #4EF2A4 solid;
  border-right: 5px #4EF2A4 solid;
  border-top: 5px #4EF2A4 solid;
  padding: 10px;
  display: block;
}
.widget li:first-child
{
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
}
.widget li:last-child
{
    border-radius: 0px 0px 15px 15px;
    border-bottom: 5px #4EF2A4 solid;
}

.widget ul>li>a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/*/* WARNING: nzm kako da napravim media query da prebaci -@media(max-width=650px)
desni blok ispod levog i da da ih rasiri preko ekrana.*/



/*-----------------------Blog.html-------------------------*/

.registracija-naziv h1{
margin: 30px;
color:#F64596;

}
form{
  background-color: #4EF2A4;
  color: white;
  padding-bottom: 30px;
  padding-top: 50px;
  padding-left: 50px;
  padding-left: 50px;
  border-radius: 15px;

}

#input{
  width:320px;
  height:25px;
  border-radius: 15px;
  border-width: inherit;
  padding: 5px 10px;
}


#label
{
  display: inline-block;
  padding-left: 23%;
  font-size: 18px;
  width: 8em;
  margin-right: 1em;/*ovo je izjednacilo sve inpute u jednu liniju*/
  text-align: left;
  margin-bottom: 50px;
}
